{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: theme_config.default_lang)|e }}">
<head>
    {% block head %}
        <meta charset="utf-8" />
        <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'partials/metadata.html.twig' %}

        <link rel="icon" type="image/png" href="{{ url('theme://assets/favicon.png')|e }}" />
        <link rel="canonical" href="{{ page.url(true, true)|e }}" />
    {% endblock head %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ url('theme://assets/index.css')|e }}" />
    {% endblock %}

    {% block javascripts %}
        {% do assets.addJs('jquery', 101) %}
        {% do assets.addJs('theme://js/jquery.treemenu.js', {group:'bottom'}) %}
        {% do assets.addJs('theme://js/site.js', {group:'bottom'}) %}
        <script src="{{ url('theme://assets/index.js') }}"></script>
        <script async defer data-domain="chloecorfmat.fr" src="https://analytics.chloecorfmat.me/js/plausible.js"></script>
    {% endblock %}

    {% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
    {% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes|e }}">

{% set options = { items: {'@page.page': '/configuration'} } %}
{% set config = page.collection(options)|first %}

{% block header %}
    <header class="header">
        <div class="header-banner">
            <a href="/" class="header-banner__home">
                <img src="{{ '/configuration/' ~ url(config.header.header_logo|first.path) }}" alt="{{ config.header.sitename }}" />
            </a>

            <button class="header-banner__burger" id="js--header-burger__button">
                <i class="fa-solid fa-bars fa-2xl header-banner__burger--open-selected" id="js--header-burger__button--open" title="Ouvrir le menu"></i>
                <i class="fa-solid fa-xmark fa-2xl header-banner__burger--close" id="js--header-burger__button--close" title="Fermer le menu"></i>
            </button>

            <nav class="header-nav" id="js--header-nav">
                <ul class="header-nav__list">
                    {% for item in config.header.main_menu %}
                        <li class="header-nav__item">
                            <a
                                    href="{{ item.url }}"
                                    class="header-nav__link"
                                    target="{{ item.target|first }}"
                                    title="{% if item.target|first is same as('_blank') %}{{ item.text }} - Nouvelle fenêtre{% endif %}"
                            >
                                {{ item.text }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <ul class="header-social" id="js--header-social">
                {% for item in config.header.social_media %}
                    <li class="header-social__item">
                        <a
                                href="{{ item.url }}"
                                title="{{ item.text }} - Nouvelle fenêtre"
                                class="header-social__link"
                                target="_blank"
                        >
                            <i class="{{ item.icon }}"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </header>
{% endblock %}

{% block body %}
    {% block content %}{% endblock %}
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="footer__container">
            <img src="{{ '/configuration/' ~ url(config.header.footer_logo|first.path) }}" alt="{{ config.header.sitename }}" class="footer__logo"/>
            <ul class="footer__list">
                {% for item in config.header.menu_footer_1 %}
                <li>
                    <a
                            href="{{ item.url }}"
                            class="footer__link"
                            target="{{ item.target|first }}"
                            title="{% if item.target|first is same as('_blank') %}{{ item.text }} - Nouvelle fenêtre{% endif %}"
                    >
                        {{ item.text }}

                        {% if item.target|first is same as('_self') %}
                            <span class="icon-internal-link fa-solid fa-chevron-right fa-xs" aria-hidden="true"></span>
                        {% endif %}
                        {% if item.target|first is same as('_blank') %}
                            <span class="icon-external-link fa-solid fa-arrow-up-right-from-square fa-xs" aria-hidden="true"></span>
                        {% endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>

            <ul class="footer__list">
                {% for item in config.header.menu_footer_2 %}
                    <li>
                        <a
                                href="{{ item.url }}"
                                class="footer__link"
                                target="{{ item.target|first }}"
                                title="{% if item.target|first is same as('_blank') %}{{ item.text }} - Nouvelle fenêtre{% endif %}"
                        >
                            {{ item.text }}

                            {% if item.target|first is same as('_self') %}
                                <span class="icon-internal-link fa-solid fa-chevron-right fa-xs" aria-hidden="true"></span>
                            {% endif %}
                            {% if item.target|first is same as('_blank') %}
                                <span class="icon-external-link fa-solid fa-arrow-up-right-from-square fa-xs" aria-hidden="true"></span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </footer>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>